#contact{
    width: 100%;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.contact{
    max-width: 1440px;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title-contact h1{
    padding-bottom: 1rem;
}

.title-contact{
    background: #E18339;
    padding: 5rem;
}

.text-contact{
    display: flex;
    padding-top: 2rem;
    gap: 6rem;
}

.txt-cont svg{
    fill: lightgray;
}

.txt-cont h2 {
   padding-top: 1rem;
}

.icon-cont{
    justify-content: center;
    width: 6.25rem;
    height: 5.62rem;
    border: 3px solid white;
    display: flex;
    align-items: center;
    border-radius: 49%;
}

.txt-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}



@media(max-width: 425px)
{
    .text-contact {
        gap: 2rem;
    }

    .txt-cont svg {
        width: 30px;
    }

    .icon-cont {
        width: 4.25rem;
        height: 3.62rem;
    }

    .text-contact {
        flex-direction: column;
    }
}
